.find-location {
  position: relative;
  margin-bottom: 30px;
  opacity: 0.85;
}

.find-location input[type="text"] {
  width: 100%;
  padding: 20px 20px 20px 20px;
}

.find-location input[type="submit"], .find-button {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  padding: 0px 64px;
  background: rgba(95, 252, 204, 0.69);}
