<div class="wthree_main_grid_left_grid" *ngIf="dayData">
  <div class="w3ls_main_grid_left_grid1" *ngIf="dayData.temperature">
    <div class="w3l_main_grid_left_grid1_left">
      <h3>{{dayData.summary}}</h3>
      <p>{{dayData.temperature}} <span>%</span></p>
    </div>
    <div class="w3l_main_grid_left_grid1_right">
      <img src="/assets/images/{{dayData.icon}}.png" id="partly-cloudy-day" width="50" height="50">
    </div>
    <div class="clear"> </div>
  </div>
  <div class="w3ls_main_grid_left_grid1" *ngIf="!dayData.temperature">
    <div class="w3l_main_grid_left_grid1_left">
      <h3>High</h3>
      <p>{{dayData.temperatureHigh}} <span>%</span></p>
    </div>
    <div class="w3l_main_grid_left_grid1_left">
      <h3>Low</h3>
      <p>{{dayData.temperatureLow}} <span>%</span></p>
    </div>
    <div class="clear"> </div>
  </div>

  <div class="w3ls_main_grid_left_grid1">
    <div class="w3l_main_grid_left_grid1_left">
      <h3>{{dayData.precipType}}</h3>
      <p>{{dayData.precipProbability*100}} <span>%</span></p>
    </div>
    <div class="w3l_main_grid_left_grid1_right">
      <img src="/assets/images/{{dayData.icon}}.png" id="partly-cloudy-day" width="50" height="50">
    </div>
    <div class="clear"> </div>
  </div>
  <div class="w3ls_main_grid_left_grid1">
    <div class="w3l_main_grid_left_grid1_left">
      <h3>Wind</h3>
      <p>{{dayData.windSpeed}} <span>MPH</span></p>
    </div>
    <div class="w3l_main_grid_left_grid1_right">
      <img src="/assets/images/{{dayData.icon}}.png" id="partly-cloudy-day" width="50" height="50">
    </div>
    <div class="clear"> </div>
  </div>
</div>
